# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment
.env

# IDE
.vscode/

# Database
*.db

# Logs
logs/
*.log

# Frontend build output
/node_modules/
/.next/
/.next-dev/
/.env.local

# Frontend build output
node_modules/
.next/
.next-dev/
.env.local

# Frontend build output
frontend/node_modules/
frontend/.next/
frontend/.next-dev/
frontend/.env.local

# Desktop client build output
desktop-client/build/
desktop-client/dist/
desktop-client/build_version.py
admin-panel/build_version.py
backend/static/client/*.exe
backend/static/admin/*.exe
backend/static/updater/*.exe
backend/static/app-updates/*.json
installer/build/output/
installer/build/specs/
installer/build/work/

# Alembic
alembic.ini
